@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 247, 232;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0, 0, 0);
  background: rgb(255, 247, 232);
}

.bg-color {
  background: rgb(255, 247, 232);
}

.scrollbar {
  overflow-y: overlay;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: transparent;
}
